{:paths ["cljd/src" "cljd/test"]
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "f50b40ae44f953518f5e490c732fc358831d203b" #_"471c85b8c2378ddbaba39bbaa7926fbfc75c5ce7"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :dart
             :main wevre.transit-cljd}}
